ui = true

backend "consul" {
  path          = "vault/"
  address       = "${lan_ip}:8500"
  cluster_addr  = "https://${lan_ip}:8201"
  redirect_addr = "http://${lan_ip}:8200"
}

listener "tcp" {
  address         = "0.0.0.0:8200"
  cluster_address = "${lan_ip}:8201"
  tls_disable     = 1
}