data_dir = "/opt/consul/data"
bind_addr = "0.0.0.0"
client_addr = "0.0.0.0"
advertise_addr = "${lan_ip}"

bootstrap_expect = ${server_count}

encrypt = "${gossip_key}"

acl {
    enabled = true
    default_policy = "deny"
    down_policy = "extend-cache"
}

log_level = "INFO"

server = true
ui = true
retry_join = ${retry_join}

service {
    name = "consul"
}

connect {
  enabled = true
}

ports {
  grpc = 8502
}