<service-group>

  <name replace-wildcards="yes">Hashicorp on %h</name>

  <service protocol="ipv4">
    <type>_nomad._tcp</type>
    <port>4646</port>
  </service>

  <service protocol="ipv4">
    <type>_consul._tcp</type>
    <port>8500</port>
  </service>

  <service protocol="ipv4">
    <type>_vault._tcp</type>
    <port>8200</port>
  </service>
</service-group>

